#clock img {
    /* position:relative; */

}

#hour {
position: absolute;
 

}

#minute {
    position: absolute;  
}

#second {
    position: absolute;  
}

#face {
    position: absolute;
}
.rotate-hour{
    transform: rotate(45deg);

}
.rotate-second{
    transform: rotate(60deg);
    z-index: 2;
}
.rotate-minute{
    transform: rotate(270deg);
    z-index: 1;
}